<h1>Log in for alpha blog</h1>
<div class="container">
    <%= form_with(scope: :session, url: login_path, class: "shadow") do |f| %>
         <div class="form-group row">
            <%= f.label :email, class: "col-2 col-form-label" %>
            <div class="col-10">
                <%= f.email_field :email, class: "form-control", placeholder: "Enter your email address" %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :password, class: "col-2 col-form-label" %>
            <div class="col-10">
                <%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %>
            </div>
        </div>
        <div class="form-group row">
             <%= f.submit "Login" , class: "btn btn-light btn-lg"%><br />
        </div>
    <% end %>
</div>
<div class="mb-3">
    <%= link_to 'Cancel edit && Return to articles listing', articles_path %>
</div>

     
