<div class="container">
<h1 class="text-center text-success"><%= @article.title%></h1>
    <div class="card text-center ">
        <div class="card-header mt-4">
            by <%= @article.user.username if @article.user%>
            <%= link_to gravatar_for(@article.user), user_path(@article.user)%>
            </div>
            <div class="card-body mt-4">
                <div class="card-text text-left"><%= simple_format(@article.description)%>.</div>
                <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
                    <%=link_to 'Edit', edit_article_path(@article), class: "btn btn-info" %>
                    <%= link_to 'Delete', article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
                <% end %>
            </div>
            <div class="card-footer text-muted">
                <small>Created <%= time_ago_in_words(@article.created_at)%> ago, edited <%= time_ago_in_words(@article.updated_at)%> ago</small>
            </div>
            </div>
    </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %> |
<%= link_to 'Return to articles listing', articles_path %>